/** @format */

// Colors
$color-theme: #02792E;
$color-secondary: #ffffff;
$color-body: #000000;
$color-heading: #000000;
$color-border: #ffffff;
$color-bg-body: #bafac9;
$color-bg-dark: #0c0e16;

$light-color-theme: #2CED73;
$light-color-secondary: #000000;
$light-color-body: #000000;
$light-color-heading: #151515;
$light-color-border: #cbced8;
$light-color-bg-body: #f1f1f1;
$light-color-bg-dark: #0c0e16;

// Font Family
$ff-body: "Nunito", sans-serif;
$ff-heading: "Nunito", sans-serif;

// Font Size
$fz-body: 18px;

// Input Button Height
$input-button-height: 50px;
$transition: all 0.4s ease-out;

// Layouts
$layout-dektop: "only screen and (min-width: 1920px)";
$layout-desktop-xs: "only screen and (min-width: 1600px) and (max-width: 1919px)";
$layout-laptop: "only screen and (min-width: 1200px) and (max-width: 1599px)";
$layout-notebook: "only screen and (min-width: 992px) and (max-width: 1199px)";
$layout-tablet: "only screen and (min-width: 768px) and (max-width: 991px)";
$layout-mobile-lg: "only screen and (max-width: 767px)";
$layout-mobile-sm: "only screen and (max-width: 575px)";
$layout-mobile-xs: "only screen and (max-width: 480px)";

// Social Colors

$twitter: #55acee;
$linkedin: #0077b5;
$youtube: #cd201f;
$github: #171515;
$instagram: #e4405f;
$amazon: #e47911;
$medium: #02b875;
